<div class="contents row">
  <div class="success">
    <h4><font color="#00aa00">
      コメント更新が完了しました。
    </font></h4>
    <%= link_to 'コメントした質問へ戻る', "/posts/#{@comment.post_id}", method: :get %>
  </div>
</div>