<div class="contents row">
  <%= form_tag("/posts/#{@post.id}", method: :patch) do %>
    <h4>
     元の質問文 :
    </h4>

    <div class="content_post well" >
    <font color="#000000">
    <%= @post.text %>
    </font>
    </div>

    <div class="mb-3">
    <%= form_tag('/posts',method: :patch) do %>
    <label for="exampleFormControlTextarea1" class="form-label">編集画面</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="text" placeholder= "より質問したい状況を具体的に述べましょう．", rows="3"></textarea>
    <input type="submit" value="投稿しなおす">
    <% end %>
    <% end %>
    </div>
</div>