<div class="contents row">
    <h3>
      質問を投稿する
    </h3>
  
  <div class="container">
  <%= form_tag('/posts',method: :post) do %>
    <textarea name="text" placeholder="text", cols:"30", rows:"10", autofocus:"true"></textarea>
    <input type="submit" value="質問する">
  <% end %>
  </div>
</div>

